@import "style/mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "CodeNewRoman Nerd Font Mono";
  font-weight: bold;
  font-size: 16px;
  color: @text;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

tooltip {
  background: #2f383e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #2f383e;
}

tooltip label {
  color: #a7c080;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#window,
#cpu,
#disk,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#workspaces,
#backlight {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  opacity: 0.8;
  margin-top: 10px;
  border: 0px;
}

#tray,
#custom-lock_screen,
#backlight,
#cpu {
  border-radius: 10px 0px 0px 10px;
}

#custom-light_dark,
#custom-power_btn,
#workspaces,
#pulseaudio.microphone,
#battery,
#disk {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#custom-power_profile {
  color: #a6e3a1;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#pulseaudio {
  color: #83c092;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #d699b6;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #a6e3a1;
  border-left: 0px;
}
